<div class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2">
      <div class="content is-size-3">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <% if @user.profile_picture.attached? %>
                  <img src="<%=(url_for(@user.profile_picture))%>" alt="Image">
                <% else %>
                  <%= image_tag("default-avatar.png") %>
                <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content is-size-3">
                <p><strong><%= @user.name %></strong></p>
              </div>
              <div class="content is-size-5">
              <p><small><%= @user.email %></small></p>
              </div>
            </div>
            <div class="media-right">
              <div class="content is-size-5">
              <p><small><%= link_to 'Edit profile', edit_user_path(@user.id), class: "level-item" %></small></p>
                <%# <span class="icon is-small"><i class="fas fa-edit"></i></span> %>
              <%# <% end %>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <%= render @user.articles %>
  </div>
</div>
